<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale =1.0"/>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'paint/css/style.css' %}" />
        <title>paintApp</title>
    </head>
    <body>
        <canvas id="canvas"></canvas>

    <div id="buttons">
        <input type="button"  id="clear" value="Clear">
        <input type="button" class="b_color" id="black">
        <input type="button" class="b_color" id="yellow">
        <input type="button" class="b_color" id="red">
        <input type="button" class="b_color" id="green">
        <input type="button" class="b_color" id="blue">
        <input type="image"  class="b_color" id="rubber" src ="{% static 'paint/images/rubber.png' %}">
        <input type="button" id="draw" value="draw">
    </div>

        <script src="{% static 'paint/js/canvas.js'%}"></script>
    </body>
</html>