* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    border: 2px solid black;
}

.bcolor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#black {
    background-color: black;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}